<mat-toolbar class="border-b-2 border-[#e8edff] border-solid">
    <button *ngIf="isMobile" mat-icon-button class="mx-[10px]">
        <mat-icon>menu</mat-icon>
    </button>
    <img src="/assets/img/logos/logo-color.svg" class="!w-[70px] !h-[70px] mx-[40px] cursor-pointer" alt="Logo de l'application" routerLink="accueil">
    <div *ngIf="!isMobile" class="flex flex-row gap-[10px] px-[10px]" id="links-navbar">
        <a mat-button routerLink="accueil" class="custom-button">Accueil</a>
        <a mat-button routerLink="ressources" class="custom-button">Ressources</a>
        <a mat-button routerLink="events" class="custom-button">Évènements</a>
        <a *ngIf="isLoggedIn" mat-button routerLink="monEspace" class="custom-button">Mon espace</a>
    </div>
    <span class="example-spacer"></span>
    <button *ngIf="!isLoggedIn" mat-flat-button class="!rounded-[10px] mx-[10px]" (click)="openLoginDialog()">Se connecter</button>
    <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>person_outline</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu" class="!bg-transparent !shadow-none user-menu-panel" [overlapTrigger]="false" [hasBackdrop]="false">
        <div class="relative bg-white rounded-xl px-4 py-3 w-[220px] border border-[#e8edff] flex flex-col items-center justify-center">
          <mat-icon>person_outline</mat-icon>
          <p class="font-semibold">{{ username }}</p>
          <button mat-flat-button routerLink="profil" class="mt-2 text-sm w-[75%] !bg-[#8ea2ff]">Mon profil</button>
          <button mat-flat-button (click)="onLogout()" class="mt-2 text-sm w-[75%] !bg-[#8ea2ff]">Déconnexion</button>
        </div>
    </mat-menu>
      
 </mat-toolbar>
  