<div class="flex flex-grow items-left">
  <aside class="p-6 shadow-md w-64 border-r-2 border-[#e8edff]">
    <div class="mb-6 mt-8">
      <p class="text-lg font-semibold mb-4">Filtrer par :</p>
      <ul class="space-y-2 list-none">
        <li>
          <mat-form-field appearance="outline">
            <mat-label>Type de ressources</mat-label>
            <mat-select>
              <mat-option>--</mat-option>
              <mat-option>Texte</mat-option>
              <mat-option>Image</mat-option>
              <mat-option>Vidéo</mat-option>
              <mat-option>PDF</mat-option>
            </mat-select>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie</mat-label>
            <mat-select>
              <mat-option>--</mat-option>
              <mat-option>Sport</mat-option>
              <mat-option>Automobile</mat-option>
              <mat-option>Jardinage</mat-option>
              <mat-option>Technologie</mat-option>
            </mat-select>
          </mat-form-field>
        </li>
      </ul>
    </div>

    <div>
      <p class="text-lg font-semibold mb-4">Trier par :</p>
      <mat-chip-listbox
        aria-label="Trier par :"
        class="mat-mdc-chip-set-stacked"
      >
        <mat-chip-option> Date de publication </mat-chip-option>
        <mat-chip-option> Nombre de likes </mat-chip-option>
        <mat-chip-option> Titre </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </aside>
  <div class="w-full">
    <div class="mt-8 ml-6">
      <div>
        <h1
          class="text-4xl font-bold w-full mt-4 mb-4 flex flex-wrap justify-center items-center md:justify-start md:items-start"
        >
          Explorer les ressources
        </h1>
        <p
          class="text-secondary-500 w-full mb-4 text-center md:text-start text-base"
        >
          Trouver les ressources adaptées à vos besoins
        </p>
      </div>
      <div>
        <mat-chip-listbox>
          <mat-chip-option> Tout </mat-chip-option>
          <mat-chip-option> Sport </mat-chip-option>
          <mat-chip-option> Automobile </mat-chip-option>
          <mat-chip-option> Jardinage </mat-chip-option>
          <mat-chip-option> Technologie </mat-chip-option>
          <mat-chip-option> Cuisine </mat-chip-option>
          <mat-chip-option> Autres </mat-chip-option>
        </mat-chip-listbox>
      </div>
      <div>
        <mat-form-field appearance="outline" class="w-1/2 mt-4">
          <mat-label>Rechercher</mat-label>
          <input matInput>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="overflow-y-scroll">
        <div class="flex flex-wrap gap-2">
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba dsygfygsdyfgsdygfygsdfygInu</mat-card-title>
                  <mat-card-subtitle>Small dqsdqsdqsdsqdqsqsd
                    <mat-card-actions>
                      <button mat-button>Voir</button>
                    </mat-card-actions>
                  </mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small <mat-card-actions>
                    <button mat-button>Voir</button>
                  </mat-card-actions></mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small <mat-card-actions>
                    <button mat-button>Voir</button>
                  </mat-card-actions></mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small <mat-card-actions>
                    <button mat-button>Voir</button>
                  </mat-card-actions></mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small <mat-card-actions>
                    <button mat-button>Voir</button>
                  </mat-card-actions></mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small <mat-card-actions>
                    <button mat-button>Voir</button>
                  </mat-card-actions></mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small <mat-card-actions>
                    <button mat-button>Voir</button>
                  </mat-card-actions></mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small <mat-card-actions>
                    <button mat-button>Voir</button>
                  </mat-card-actions></mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small <mat-card-actions>
                    <button mat-button>Voir</button>
                  </mat-card-actions></mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small <mat-card-actions>
                    <button mat-button>Voir</button>
                  </mat-card-actions></mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small <mat-card-actions>
                    <button mat-button>Voir</button>
                  </mat-card-actions></mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small <mat-card-actions>
                    <button mat-button>Voir</button>
                  </mat-card-actions></mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small <mat-card-actions>
                    <button mat-button>Voir</button>
                  </mat-card-actions></mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small <mat-card-actions>
                    <button mat-button>Voir</button>
                  </mat-card-actions></mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small <mat-card-actions>
                    <button mat-button>Voir</button>
                  </mat-card-actions></mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>
          <div class="flex">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small <mat-card-actions>
                    <button mat-button>Voir</button>
                  </mat-card-actions></mat-card-subtitle>     
                  <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" class="ml-4">
                </mat-card-title-group>
              </mat-card-header> 
            </mat-card>
          </div>       
        </div>
      </div>
    </div>
  </div>
</div>
