hr {
    display: block;
    margin: 10px 0 30px 0;
    border-top: 2px solid #8ea2ff;
    width: 100%;
  }
  
  button {
    background-color: #E8EDFF !important;
    color: black !important;
    padding: 4px;
    min-width: 80px;
    border-radius: 30px;
  }