<div class="flex flex-col flex-grow items-center">
  <div
    class="flex flex-col items-center flex-grow w-full"
    [ngClass]="{ 'px-[10vw]': !isMobile }"
  >
    <div class="flex-grow w-full px-4 pb-24">
      <div class="py-12">
        <div>
          <div class="flex sm:flex-row flex-col justify-between mt-[12px]">
            <h1
              class="text-[30px] font-bold leading-[45px] flex flex-wrap justify-start items-start"
            >
              Ressources à la une
            </h1>
            <a
              class="text-[16px] font-bold leading-[24px] transition-all duration-300 flex flex-wrap justify-start items-end hover:text-[--mat-sys-secondary]"
              [routerLink]="['/ressources']"
              >Voir les 200 ressources<mat-icon class="ml-2"
                >arrow_circle_right</mat-icon
              >
            </a>
          </div>

          <hr />
          <div class="flex flex-wrap justify-center items-start gap-8 mt-4">
            <app-big-ressource-card
              *ngFor="let resource of resources"
              [resource]="resource"
              class="w-[30%] max-w-[350px] min-w-[290px]"
            ></app-big-ressource-card>
          </div>
        </div>
        <div class="mt-20">
          <div class="flex sm:flex-row flex-col justify-between mt-[12px]">
            <h1
              class="text-[30px] font-bold leading-[45px] flex flex-wrap justify-start items-start"
            >
              Évènements en cours
            </h1>
            <a
              class="text-[16px] font-bold leading-[24px] transition-all duration-300 flex flex-wrap justify-start items-end hover:text-[--mat-sys-secondary]"
              [routerLink]="['/ressources']"
              >Voir les 20 évènements<mat-icon class="ml-2"
                >arrow_circle_right</mat-icon
              >
            </a>
          </div>
          <hr />
          <div class="flex flex-wrap justify-center items-start gap-8 mt-4">
            <app-big-event-card
              *ngFor="let event of events"
              [event]="event"
              class="w-[30%] max-w-[350px] min-w-[290px]"
            ></app-big-event-card>
          </div>
        </div>
        <div class="mt-20">
          <div class="flex sm:flex-row flex-col justify-between mt-[12px]">
            <h1
              class="text-[30px] font-bold leading-[45px] flex flex-wrap justify-start items-start"
            >
              Meilleurs contributeurs
            </h1>
            <a
              class="text-[16px] font-bold leading-[24px] transition-all duration-300 flex flex-wrap justify-start items-end hover:text-[--mat-sys-secondary]"
              [routerLink]="['/ressources']"
              >Voir les 200 contributeurs<mat-icon class="ml-2"
                >arrow_circle_right</mat-icon
              >
            </a>
          </div>
          <hr />
          <div class="flex flex-wrap justify-center items-start gap-8 mt-4">
            <app-big-user-card
              *ngFor="let user of users"
              [user]="user"
              class="w-[30%] max-w-[350px] min-w-[290px]"
            ></app-big-user-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
