<div class="flex flex-grow items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-lg">
    <h1 class="text-3xl font-bold text-center text-indigo-600 mb-4">Page d'Accueil</h1>
    <p class="text-lg text-gray-700 text-center mb-6">Ce projet utilise Angular, Tailwind et Angular Material.</p>
    
    <mat-card class="mb-6">
      <mat-card-header>
        <mat-card-title>Présentation</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Ceci est un composant</p>
      </mat-card-content>
    </mat-card>

    <div class="text-center">
      <button mat-raised-button color="primary" class="w-full">
        Commencer
      </button>
    </div>
  </div>
</div>
