.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  justify-content: end;
}

hr {
  display: block;
  margin: 10px 0 30px 0;
  border-top: 2px solid #8ea2ff;
  width: 100%;
}
