<mat-card class="custom-card">
  <div class="card-content">
    <div class="text-section">
      <h3 class="card-title">Raison: {{ report.reportReason.label }}</h3>
			<p class="card-subtitle">
				{{ report.content}}
			</p>
      <p class="card-subtitle text-secondary-500">
        Par <a class="author-link" href="#">{{ report.reporter.username }}</a>
      </p>
      <p class="card-subtitle text-secondary-500">
        {{ report.createdAt | date : "dd MMM yyyy" }}
      </p>
		</div>
	</div>
</mat-card>
