<mat-toolbar class="border-b-2 border-[#e8edff]">    
    <div class="flex justify-around w-full text-sm">
        <button mat-button class="flex flex-col items-center text-secondary-500">
            <mat-icon class="text-secondary-500">home</mat-icon>
            <span class="text-secondary-500">Accueil</span>
        </button>
        <button mat-button class="flex flex-col items-center text-secondary-500">
            <mat-icon class="text-secondary-500">folder</mat-icon>
            <span class="text-secondary-500">Ressources</span>
        </button>
        <button mat-button class="flex flex-col items-center text-secondary-500">
            <mat-icon class="text-secondary-500">sports_esports</mat-icon>
            <span class="text-secondary-500">Activités</span>
        </button>
        <button mat-button class="flex flex-col items-center text-secondary-500">
            <mat-icon class="text-secondary-500">person</mat-icon>
            <span class="text-secondary-500">Profil</span>
        </button>
    </div>
 </mat-toolbar>
  