<div class="flex flex-col flex-grow items-center">
  <div
    class="flex flex-col items-center flex-grow w-full"
    [ngClass]="{ 'px-[5vw]': !isMobile }"
  >
    <div class="flex-grow w-full px-4 pb-24">
      <div class="py-12">
        <div>
          <div class="flex sm:flex-row flex-col justify-between mt-[12px]">
            <h1
              class="text-[30px] font-bold leading-[45px] flex flex-wrap justify-start items-start"
            >
              Mes ressources favorites
            </h1>
          </div>
          <hr />
          <ng-container
            *ngIf="
              favoriteRessources && favoriteRessources.length > 0;
              else noRessources
            "
          >
            <div
              appSwipeScroll
              class="flex flex-nowrap justify-left items-start gap-8 mt-4 h-[200px] overflow-x-auto overflow-y-hidden touch-pan-x -webkit-overflow-scrolling-touch medium-component"
            >
              <app-ressource-card
                *ngFor="let ressource of favoriteRessources"
                [ressource]="ressource"
              ></app-ressource-card>
            </div>
          </ng-container>

          <div class="flex sm:flex-row flex-col justify-between mt-[40px]">
            <h1
              class="text-[30px] font-bold leading-[45px] flex flex-wrap justify-start items-start"
            >
              Mes ressources pour plus tard
            </h1>
          </div>
          <hr />
          <ng-container
            *ngIf="
              toLaterRessources && toLaterRessources.length > 0;
              else noRessources
            "
          >
            <div
              appSwipeScroll
              class="flex flex-nowrap justify-left items-start gap-8 mt-4 h-[200px] overflow-x-auto overflow-y-hidden touch-pan-x -webkit-overflow-scrolling-touch medium-component"
            >
              <app-ressource-card
                *ngFor="let ressource of toLaterRessources"
                [ressource]="ressource"
              ></app-ressource-card>
            </div>
          </ng-container>

					<div class="flex sm:flex-row flex-col justify-between mt-[40px]">
            <h1
              class="text-[30px] font-bold leading-[45px] flex flex-wrap justify-start items-start"
            >
              Mes ressources likées
            </h1>
          </div>
          <hr />
          <ng-container
            *ngIf="
              likedRessources && likedRessources.length > 0;
              else noRessources
            "
          >
            <div
              appSwipeScroll
              class="flex flex-nowrap justify-left items-start gap-8 mt-4 h-[200px] overflow-x-auto overflow-y-hidden touch-pan-x -webkit-overflow-scrolling-touch medium-component"
            >
              <app-ressource-card
                *ngFor="let ressource of likedRessources"
                [ressource]="ressource"
              ></app-ressource-card>
            </div>
          </ng-container>

          <ng-template #noRessources>
            <div
              class="w-full h-[300px] flex items-center justify-center text-gray-500 italic"
            >
              Aucune ressource.
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
