
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// @import "./custom-theme.scss";

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: white;
  --mat-sys-primary: #DD7596;
  --mat-sys-secondary: #8EA2FF;
  --mat-sys-surface: #f6f8ff;
  --my-background-blue : #f6f8ff;
}

// html{
//   font-size: 2vw;
// }

body {
  margin: 0;
  font-family: "Lexend", "Helvetica Neue", sans-serif;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s;
  font-family: "Lexend", "Roboto", sans-serif;
}

.custom-button {
  transition: all 0.3s;

  @include mat.button-overrides(
    // Modifie le hover
    (text-state-layer-color: #8EA2FF)
  );
}