<div class="flex flex-col h-[calc(100vh-64px)] bg-[#f8f9ff]">
  <div class="flex flex-grow items-left">
    <aside class="p-6 shadow-md w-64 border-r-2 border-[#e8edff]">
      <div class="mb-6 mt-8">
        <nav aria-label="Administration">
          <mat-nav-list class="space-y-4 p-0">
            <h3 mat-subheader class="text-lg font-semibold">Administration</h3>

            <mat-list-item
              class="rounded cursor-pointer"
              (click)="toggleSection('users')"
							[ngClass]="{
								'!bg-[#e8edff]': isSectionActive('users')
							}"
            >
              <div class="flex items-center justify-between w-full">
                <div class="flex items-center">
                  <mat-icon>group</mat-icon>
                  <span class="ml-2">Utilisateurs</span>
                </div>
                <mat-icon class="text-sm">
                  {{
                    expandedSection === "users" ? "expand_less" : "expand_more"
                  }}
                </mat-icon>
              </div>
            </mat-list-item>

            <div
              *ngIf="expandedSection === 'users'"
              class="flex flex-col ml-8 space-y-1"
            >
              <mat-list-item
                class="rounded cursor-pointer"
                (click)="select('users.list')"
								[ngClass]="{
									'!bg-[#e8edff]': isViewActive('users.list')
								}"
              >
                <div class="flex items-center">
                  <mat-icon class="text-sm">format_list_bulleted</mat-icon>
                  <span class="ml-2 text-sm">Lister</span>
                </div>
              </mat-list-item>
              <mat-list-item
                class="rounded cursor-pointer"
                (click)="select('users.create')"
								[ngClass]="{
									'!bg-[#eef2ff]': isViewActive('users.create')
								}"
              >
                <div class="flex items-center">
                  <mat-icon class="text-sm">person_add</mat-icon>
                  <span class="ml-2 text-sm">Créer</span>
                </div>
              </mat-list-item>
            </div>

            <mat-list-item
              class="rounded cursor-pointer"
              (click)="toggleSection('categories')"
							[ngClass]="{
								'!bg-[#e8edff]': isSectionActive('categories')
							}"
            >
              <div class="flex items-center justify-between w-full">
                <div class="flex items-center">
                  <mat-icon>category</mat-icon>
                  <span class="ml-2">Catégories</span>
                </div>
                <mat-icon class="text-sm">
                  {{
                    expandedSection === "categories"
                      ? "expand_less"
                      : "expand_more"
                  }}
                </mat-icon>
              </div>
            </mat-list-item>

            <div
              *ngIf="expandedSection === 'categories'"
              class="flex flex-col ml-8 space-y-1"
            >
              <mat-list-item
                class="rounded cursor-pointer"
                (click)="select('categories.list')"
								[ngClass]="{
									'!bg-[#eef2ff]': isViewActive('categories.list')
								}"
              >
                <div class="flex items-center">
                  <mat-icon class="text-sm">view_module</mat-icon>
                  <span class="ml-2 text-sm">Lister</span>
                </div>
              </mat-list-item>
              <mat-list-item
                class="rounded cursor-pointer"
                (click)="select('categories.create')"
								[ngClass]="{
									'!bg-[#eef2ff]': isViewActive('categories.create')
								}"
              >
                <div class="flex items-center">
                  <mat-icon class="text-sm">label</mat-icon>
                  <span class="ml-2 text-sm">Créer</span>
                </div>
              </mat-list-item>
            </div>

            <mat-list-item
              class="rounded cursor-pointer"
              (click)="select('moderation')"
							[ngClass]="{
								'!bg-[#e8edff]': isSectionActive('moderation')
							}"
            >
              <div class="flex items-center">
                <mat-icon>shield</mat-icon>
                <span class="ml-2">Modération</span>
              </div>
            </mat-list-item>

            <mat-list-item
              class="rounded cursor-pointer"
              (click)="select('stats')"
							[ngClass]="{
								'!bg-[#e8edff]': isSectionActive('stats')
							}"
            >
              <div class="flex items-center">
                <mat-icon>bar_chart</mat-icon>
                <span class="ml-2">Statistiques</span>
              </div>
            </mat-list-item>
          </mat-nav-list>
        </nav>
      </div>
    </aside>
  </div>
</div>
